In [144]:
import mysql.connector
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
load_dotenv(verbose=True)

# Database connection parameters
DB_CONFIG = {
    "host": os.getenv("DB_HOST"),
    "user": os.getenv("DB_USER"),
    "password": os.getenv("DB_PASSWORD"),
    "database": os.getenv("DB_NAME"),
}

print('Database URL: ' + os.environ.get('DB_HOST'))

Database URL: timetables.mysql.database.azure.com

In [145]:
# Fetch data from database and return as a DataFrame
def fetch_data(table_name, column_names='*', condition='1'):
    try:
        # Connect
        conn = mysql.connector.connect(**DB_CONFIG)
        cursor = conn.cursor()
        # Fetch
        query = f"SELECT {column_names} FROM {table_name} WHERE {condition}"
        cursor.execute(query)
        # Fetch column names
        columns = [col[0] for col in cursor.description]
        # Fetch data
        data = cursor.fetchall()
        df = pd.DataFrame(data, columns=columns)
        return df
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        return None
    finally:
        if 'conn' in locals() and conn.is_connected():
            cursor.close()
            conn.close()

In [146]:
# Query the running balance of the asset classes
table_name = 'assetclassbalances'
column_names = 'TransactionDate, Portfolio, Cash_Sweep, US_Treasuries, CDs, CommercialPapers, MoneyMarket, MutualFund, US_Agencies'
condition = 'Title '
assets = fetch_data(table_name, column_names)

if assets is not None:
    print(assets.head())

  TransactionDate     Portfolio    Cash_Sweep US_Treasuries         CDs  \
0      2025-01-21  654628445.37  151070374.54  163716733.42  2600000.00
1      2025-01-22  492520445.37   37442374.54  163716733.42  2600000.00
2      2025-01-23  492520445.37   47442374.54  163716733.42  2600000.00
3      2025-01-24  470088445.37   33510374.54  163716733.42  2600000.00
4      2025-01-25  470088445.37   33510374.54  163716733.42  2600000.00

  CommercialPapers  MoneyMarket   MutualFund   US_Agencies
0     170669204.47  20065580.67  18975581.76  127530970.51
1     156169204.47  20065580.67  18975581.76   93550970.51
2     146169204.47  20065580.67  18975581.76   93550970.51
3     137669204.47  20065580.67  18975581.76   93550970.51
4     137669204.47  20065580.67  18975581.76   93550970.51

In [147]:
# Query the asset class max. percentages
table_name = 'AssetClass'
column_names = 'Title AS "AssetClass", PercentMax'
condition = 'AssetClassParentID = 0 && Title != "Not Assigned"'
max_percent = fetch_data(table_name, column_names, condition)
if max_percent is not None:
    # Insert an asset class key for column mapping
    asset_class_mapping = {
        'Cash/Sweep': 'Cash_Sweep',
        'US Treasuries': 'US_Treasuries',
        'Certificate of Deposit': 'CDs',
        'Commercial Paper': 'CommercialPapers',
        'Money Market': 'MoneyMarket',
        'Mutual Fund': 'MutualFund',
        'US Agencies': 'US_Agencies'
    }
    max_percent['AssetClassKey'] = max_percent['AssetClass'].map(asset_class_mapping)

    # Convert PercentMax to float
max_percent['PercentMax'] = max_percent['PercentMax'].astype(float)

print(max_percent)
# max_percent.info()

               AssetClass  PercentMax     AssetClassKey
0              Cash/Sweep        1.00        Cash_Sweep
1  Certificate of Deposit        0.50               CDs
2        Commercial Paper        0.50  CommercialPapers
3             US Agencies        0.25       US_Agencies
4            Money Market        0.50       MoneyMarket
5             Mutual Fund        0.50        MutualFund
6           US Treasuries        0.50     US_Treasuries

In [148]:
# Get the available cash min and max values
min_cash = assets['Cash_Sweep'].min()
max_cash = assets['Cash_Sweep'].max()
print(f"Min:{min_cash:,}" + '  ' f"Max:{max_cash:,}")

# Create a df with values between min_cash and max_cash (inclusive) named 'Cash'.
def prorate_cash_values(num_values, min_cash, max_cash):
    prorated_values = pd.Series(np.linspace(min_cash, max_cash, num_values))
    prorated_df = pd.DataFrame({'Cash': prorated_values})
    prorated_df['Cash'] = prorated_df['Cash'].astype(int)
    return prorated_df

# Prorate the cash interval values
min_investment = 100000
num_values = int((max_cash - min_cash) / min_investment)
print(num_values)

prorated_df = prorate_cash_values(num_values, min_cash, max_cash)
prorated_df

Min:28,568,374.54  Max:387,489,374.54
3589

           Cash
0      28568374
1      28668408
2      28768441
3      28868475
4      28968509
...         ...
3584  387089239
3585  387189273
3586  387289307
3587  387389340
3588  387489374

[3589 rows x 1 columns]

In [149]:
# Reverse check the increment delta by subtracting the second cash value from the first
#     Q: Why is there a difference?
increment = prorated_df['Cash'].iloc[1] - prorated_df['Cash'].iloc[0]
f"For {num_values:,} prorated values the increment is: ${increment:,}"

'For 3,589 prorated values the increment is: $100,034'

In [150]:
# For each prorated cash value, compare it with the available cash_sweep value per day

# base dataframe
algo_df = assets[['TransactionDate', 'Cash_Sweep']].sort_values(by='TransactionDate', ascending=True).rename(columns={'TransactionDate': 'Date', 'Cash_Sweep': 'Cash'})

# matrix of comparisons (all at once)
cash_values = prorated_df['Cash'].values
cash_matrix = algo_df['Cash'].astype(float).values[:, np.newaxis] >= cash_values
column_names = [f'Less_{val}' for val in cash_values]

# result DataFrame
result_df = pd.DataFrame(cash_matrix, columns=column_names, index=algo_df.index)
# Combine the matix with the original dataframe
algo_df = pd.concat([algo_df, result_df], axis=1)

algo_df

,Date,Cash,Less_28568374,Less_28668408,Less_28768441,Less_28868475,Less_28968509,Less_29068543,Less_29168576,Less_29268610,...,Less_386589071,Less_386689104,Less_386789138,Less_386889172,Less_386989205,Less_387089239,Less_387189273,Less_387289307,Less_387389340,Less_387489374
0,2025-01-21,151070374.54,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
1,2025-01-22,37442374.54,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,2025-01-23,47442374.54,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,2025-01-24,33510374.54,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,2025-01-25,33510374.54,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,2025-06-26,258505374.54,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
157,2025-06-27,257205374.54,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
158,2025-06-28,257205374.54,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
159,2025-06-29,257205374.54,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
160,2025-06-30,274585374.54,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [151]:
# Count the max. number of vertically consecutive True values in each column

# Count consecutive True values
def count_consecutive_true(series):
    # Convert boolean series to integers (True -> 1, False -> 0)
    int_series = series.astype(int)
    # Create groups when values change
    groups = (int_series != int_series.shift()).cumsum()
    # Count consecutive values in each group
    consecutive_counts = int_series.groupby(groups).cumsum()
    # Return maximum count
    return consecutive_counts.max() if len(consecutive_counts) > 0 else 0

# Apply the function to each boolean column (skip Date and Cash columns) and store in a series
max_consecutive_days = algo_df.iloc[:, 2:].apply(count_consecutive_true)
print("Maximum consecutive True values for each threshold:")

max_consecutive_days.head(10)

Maximum consecutive True values for each threshold:

Less_28568374    161
Less_28668408    154
Less_28768441    154
Less_28868475    154
Less_28968509    154
Less_29068543    154
Less_29168576    154
Less_29268610    154
Less_29368644    154
Less_29468678    154
dtype: int64

In [152]:
# Convert the series to a DataFrame and store teh max. consecutive days in a new column
max_consecutive_days_df = max_consecutive_days.reset_index()
max_consecutive_days_df

# Drop the prefic "Less_" from the index column values and convert it to an integer
max_consecutive_days_df['index'] = max_consecutive_days_df['index'].str.replace('Less_', '').astype(int)
max_consecutive_days_df
# Rename the columns
max_consecutive_days_df.columns = ['Cash', 'Days']

# Multiply both columns and store the result in a third column "Return"
max_consecutive_days_df['Return'] = max_consecutive_days_df['Cash'] * max_consecutive_days_df['Days']

In [153]:
# Get the Cash, Days, and Return (row) with maximum return
max_return_row = max_consecutive_days_df.loc[max_consecutive_days_df['Return'].idxmax()]
# print(max_return_row)

isolated_result_df = algo_df[[f"Less_{max_return_row['Cash']}", 'Date', 'Cash']]

isolated_result_df

     Less_101492958        Date          Cash
0              True  2025-01-21  151070374.54
1             False  2025-01-22   37442374.54
2             False  2025-01-23   47442374.54
3             False  2025-01-24   33510374.54
4             False  2025-01-25   33510374.54
..              ...         ...           ...
156            True  2025-06-26  258505374.54
157            True  2025-06-27  257205374.54
158            True  2025-06-28  257205374.54
159            True  2025-06-29  257205374.54
160            True  2025-06-30  274585374.54

[161 rows x 3 columns]

In [154]:
# Using the count_consecutive_true function, find the maximum number of consecutive days and return the start and end dates and also the max. Cash value

def find_consecutive_dates(series):
    # Convert to boolean series
    bool_series = series.astype(bool)
    # Find where values change
    changes = bool_series != bool_series.shift()
    # Create groups
    groups = changes.cumsum()

    # Find lengths of True sequences
    lengths = bool_series.groupby(groups).sum()
    # Find the group with maximum consecutive True values
    max_group = lengths[lengths == lengths.max()].index[0]

    # Get dates where this group starts and ends
    dates = series.index[groups == max_group]
    start_date_index = dates[0]
    end_date_index = dates[-1]

    start_date = algo_df.loc[start_date_index, 'Date']
    end_date = algo_df.loc[end_date_index, 'Date']

    return start_date, end_date, lengths.max()

# Get column name with max consecutive days
col = f"Less_{max_return_row['Cash']}"

# Find start date, end date and max consecutive days
start_date, end_date, max_days = find_consecutive_dates(algo_df[col])

print("Ideal (max.) investment window:")
print(f"Start date: {start_date}")
print(f"End date: {end_date}")
print(f"Lenght: {max_days} days")
print(f"Available amount: ${int(max_return_row['Cash']):,}")

Ideal (max.) investment window:
Start date: 2025-02-28
End date: 2025-06-30
Lenght: 123 days
Available amount: $101,492,958