In [14]:
# Treasury Forecasting algo version #2 determining the best investment windows
import mysql.connector
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv

# load variables from a .env file into the environment
load_dotenv(verbose=False)

# Database connection parameters
DB_CONFIG = {
    "host": os.getenv("DB_HOST"),
    "user": os.getenv("DB_USER"),
    "password": os.getenv("DB_PASSWORD"),
    "database": os.getenv("DB_NAME"),
}

print('Database URL: ' + os.environ.get('DB_HOST'))

Database URL: timetables.mysql.database.azure.com

In [15]:
# Fetch data from database and return as a DataFrame
def fetch_data(table_name, column_names='*', condition='1', sql=False):
    try:
        # Connect
        conn = mysql.connector.connect(**DB_CONFIG)
        cursor = conn.cursor()
        # Fetch
        if sql:
            cursor.execute(sql)
        else:
            query = f"SELECT {column_names} FROM {table_name} WHERE {condition}"
            cursor.execute(query)
        # Fetch column names
        columns = [col[0] for col in cursor.description]
        # Fetch data
        data = cursor.fetchall()
        df = pd.DataFrame(data, columns=columns)
        return df
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        return None
    finally:
        if 'conn' in locals() and conn.is_connected():
            cursor.close()
            conn.close()

In [16]:
# STEP 1: Get the asset classes combined with their parent class ID
table_name = 'AssetClass'
sql = """SELECT a.`ID`, a.`Title`, a.`Group`, a.`Issuer`, a.`PercentMax`,
CASE WHEN p.`Title` IS NULL THEN a.`Title` ELSE p.`Title` END AS `AssetClassCombined`
FROM `AssetClass` a
LEFT JOIN ( SELECT ac.`ID`, ac.`Title`, ac.`Group`, ac.`PercentMax` FROM `AssetClass` ac
WHERE AssetClassParentID = 0 ) p ON p.ID = a.AssetClassParentID
WHERE AssetClassParentID = 0 AND a.Title != 'Not Assigned'
"""
asset_classes = fetch_data(table_name, '',1,sql)
asset_classes

,ID,Title,Group,Issuer,PercentMax,AssetClassCombined
0,1,Cash/Sweep,Not Assigned,None,1.0000,Cash/Sweep
1,2,Certificate of Deposit,Certificates of Deposit,None,0.5000,Certificate of Deposit
2,3,Commercial Paper,Commercial Paper,None,0.3330,Commercial Paper
3,4,US Agencies,US Agencies,None,0.2000,US Agencies
4,7,Money Market,Not Assigned,None,0.2000,Money Market
5,8,Mutual Fund,Not Assigned,None,0.2000,Mutual Fund
6,16,US Treasuries,US Treasuries,None,1.0000,US Treasuries

In [ ]:
# STEP 4: Running balance day view taken from the SQL views
# TODO: replace the SQL view with pandas processign

table_name = 'RunningBalanceDayView'
running_balances = fetch_data(table_name)

In [18]:
# Add the daily total portfolio balance to the running balances DataFrame

# Convert TransactionDate to datetime if not already
running_balances['TransactionDate'] = pd.to_datetime(running_balances['TransactionDate'])

# Filter and pivot Portfolio balances
portfolio_balances = running_balances[running_balances['TransactionClass'] == 'Portfolio'].copy()
portfolio_balances['RunningTotal'] = pd.to_numeric(portfolio_balances['RunningTotal'])

# Create a series with daily portfolio balances
daily_portfolio = portfolio_balances.set_index('TransactionDate')['RunningTotal']

# Add portfolio balance to runningBalances DataFrame
running_balances = running_balances.merge(
    daily_portfolio.reset_index().rename(columns={'RunningTotal': 'Portfolio'}),
    on='TransactionDate',
    how='left'
)

In [19]:
# Add the asset class PercentMax column to the running balances DataFrame matching the on TransactionClass column

# Create a mapping dictionary from Title to PercentMax
percentmax_mapping = dict(zip(asset_classes['Title'], asset_classes['PercentMax']))

# Update PercentMax in running_balances using the mapping
running_balances['PercentMax'] = running_balances['TransactionClass'].map(percentmax_mapping).fillna(1.0)

# Convert PercentMax to float
# running_balances['PercentMax'] = pd.to_numeric(running_balances['PercentMax'])

# Check the PercentMax mapping
# percentmax_mapping
# running_balances #.info()

In [20]:
# Compute the asset class's maximum based on the policy
#       NOTE: The PercentMax map() inserts an object instead of a float. The object->float conversion resets the value to 0.0. TODO: Fix this.
                    # running_balances['PolicyMax'] = 0
running_balances['PolicyMax'] = running_balances['Portfolio'] * running_balances['PercentMax'].astype(float)
# running_balances.info()

In [21]:
# Add the daily available cash balance to the running balances DataFrame

# Filter and pivot cash balances
cash_balances = running_balances[running_balances['TransactionClass'] == 'Cash/Sweep'].copy()
cash_balances['RunningTotal'] = pd.to_numeric(cash_balances['RunningTotal'])

# Create a series with daily portfolio balances
daily_cash = cash_balances.set_index('TransactionDate')['RunningTotal']

# Add portfolio balance to runningBalances DataFrame
running_balances = running_balances.merge(
    daily_cash.reset_index().rename(columns={'RunningTotal': 'CashSweep'}),
    on='TransactionDate',
    how='left'
)

In [ ]:
# Add the investable column
#       if [TransactionClass] <> "Portfolio" && [TransactionClass] <> "Cash/Sweep",
#       then [PolicyMax]-[RunningTotal] else [RunningTotal]

# Convert RunningTotal to numeric if it's not already
running_balances['RunningTotal'] = pd.to_numeric(running_balances['RunningTotal'])

# Add the Investable column based on the condition
running_balances['Investable'] = np.where(
    (running_balances['TransactionClass'] != 'Portfolio') & (running_balances['TransactionClass'] != 'Cash/Sweep'),
    # investable can't fall below 0
    np.maximum(0, running_balances['PolicyMax'] - running_balances['RunningTotal']),
    np.maximum(0, running_balances['RunningTotal'])
)

In [ ]:
# Add the final available column
#       if ([TransactionClass] <> "Portfolio" && [TransactionClass] <> "Cash/Sweep",
#       then MIN([CashSweep],[Investable]) else [RunningTotal])
running_balances['Available'] = np.where(
    (running_balances['TransactionClass'] != 'Portfolio') &
    (running_balances['TransactionClass'] != 'Cash/Sweep'),
    # available can't fall below 0
    np.maximum(0, np.minimum(running_balances['CashSweep'], running_balances['Investable'])),
    np.maximum(0, running_balances['RunningTotal'])
)

In [52]:
# Test output the final dataframe

# Suppress scientific notation by setting float_format
pd.options.display.float_format = '{:,.0f}'.format

# Display the dataframe without scientific notation
running_balances[running_balances['TransactionClass'] == 'US Agencies']

,TransactionDate,TransactionClass,RunningTotal,Portfolio,PercentMax,PolicyMax,CashSweep,Investable,Available
2934,2025-06-03,US Agencies,"110,436,661","552,210,848",0.2000,"110,442,170","12,934,603","5,508","5,508"
2935,2025-06-04,US Agencies,"117,576,661","604,312,848",0.2000,"120,862,570","14,904,603","3,285,908","3,285,908"
2936,2025-06-05,US Agencies,"116,576,661","600,470,848",0.2000,"120,094,170","38,554,603","3,517,508","3,517,508"
2937,2025-06-06,US Agencies,"109,576,661","493,170,848",0.2000,"98,634,170","-57,745,397",0,0
2938,2025-06-07,US Agencies,"109,576,661","493,170,848",0.2000,"98,634,170","-57,745,397",0,0
...,...,...,...,...,...,...,...,...,...
3418,2026-09-30,US Agencies,"6,216,661","-25,184,796",0.2000,"-5,036,959","-112,197,397",0,0
3419,2026-10-01,US Agencies,"6,216,661","-25,184,796",0.2000,"-5,036,959","-112,197,397",0,0
3420,2026-10-02,US Agencies,"6,216,661","-25,184,796",0.2000,"-5,036,959","-112,197,397",0,0
3421,2026-10-03,US Agencies,"6,216,661","-25,184,796",0.2000,"-5,036,959","-112,197,397",0,0
3422,2026-10-04,US Agencies,"6,216,661","-25,444,896",0.2000,"-5,088,979","-112,197,397",0,0

In [54]:
# Save the final DataFrame to a pickle file
running_balances.to_pickle('running_balances.pkl')

In [55]:
# running_balances.head(5)
running_balances[running_balances['TransactionDate'] <= '2025-06-09']

,TransactionDate,TransactionClass,RunningTotal,Portfolio,PercentMax,PolicyMax,CashSweep,Investable,Available
0,2025-06-03,Portfolio,"552,210,848","552,210,848",1,"552,210,848","12,934,603","552,210,848","552,210,848"
1,2025-06-04,Portfolio,"604,312,848","604,312,848",1,"604,312,848","14,904,603","604,312,848","604,312,848"
2,2025-06-05,Portfolio,"600,470,848","600,470,848",1,"600,470,848","38,554,603","600,470,848","600,470,848"
3,2025-06-06,Portfolio,"493,170,848","493,170,848",1,"493,170,848","-57,745,397","493,170,848","493,170,848"
4,2025-06-07,Portfolio,"493,170,848","493,170,848",1,"493,170,848","-57,745,397","493,170,848","493,170,848"
5,2025-06-08,Portfolio,"493,170,848","493,170,848",1,"493,170,848","-57,745,397","493,170,848","493,170,848"
6,2025-06-09,Portfolio,"486,770,848","486,770,848",1,"486,770,848","-57,745,397","486,770,848","486,770,848"
489,2025-06-03,Cash/Sweep,"12,934,603","552,210,848",1.0000,"552,210,848","12,934,603","12,934,603","12,934,603"
490,2025-06-04,Cash/Sweep,"14,904,603","604,312,848",1.0000,"604,312,848","14,904,603","14,904,603","14,904,603"
491,2025-06-05,Cash/Sweep,"38,554,603","600,470,848",1.0000,"600,470,848","38,554,603","38,554,603","38,554,603"
492,2025-06-06,Cash/Sweep,"-57,745,397","493,170,848",1.0000,"493,170,848","-57,745,397",0,0
493,2025-06-07,Cash/Sweep,"-57,745,397","493,170,848",1.0000,"493,170,848","-57,745,397",0,0
494,2025-06-08,Cash/Sweep,"-57,745,397","493,170,848",1.0000,"493,170,848","-57,745,397",0,0
495,2025-06-09,Cash/Sweep,"-57,745,397","486,770,848",1.0000,"486,770,848","-57,745,397",0,0
978,2025-06-03,Certificate of Deposit,"2,600,000","552,210,848",0.5000,"276,105,424","12,934,603","273,505,424","12,934,603"
979,2025-06-04,Certificate of Deposit,"2,600,000","604,312,848",0.5000,"302,156,424","14,904,603","299,556,424","14,904,603"
980,2025-06-05,Certificate of Deposit,"2,600,000","600,470,848",0.5000,"300,235,424","38,554,603","297,635,424","38,554,603"
981,2025-06-06,Certificate of Deposit,"2,600,000","493,170,848",0.5000,"246,585,424","-57,745,397","243,985,424",0
982,2025-06-07,Certificate of Deposit,"2,600,000","493,170,848",0.5000,"246,585,424","-57,745,397","243,985,424",0
983,2025-06-08,Certificate of Deposit,"2,600,000","493,170,848",0.5000,"246,585,424","-57,745,397","243,985,424",0
984,2025-06-09,Certificate of Deposit,"2,600,000","486,770,848",0.5000,"243,385,424","-57,745,397","240,785,424",0
1467,2025-06-03,Commercial Paper,"178,936,836","552,210,848",0.3330,"183,886,212","12,934,603","4,949,377","4,949,377"
1468,2025-06-04,Commercial Paper,"185,928,836","604,312,848",0.3330,"201,236,178","14,904,603","15,307,343","14,904,603"
1469,2025-06-05,Commercial Paper,"178,436,836","600,470,848",0.3330,"199,956,792","38,554,603","21,519,957","21,519,957"
1470,2025-06-06,Commercial Paper,"174,436,836","493,170,848",0.3330,"164,225,892","-57,745,397",0,0
1471,2025-06-07,Commercial Paper,"174,436,836","493,170,848",0.3330,"164,225,892","-57,745,397",0,0
1472,2025-06-08,Commercial Paper,"174,436,836","493,170,848",0.3330,"164,225,892","-57,745,397",0,0
1473,2025-06-09,Commercial Paper,"169,036,836","486,770,848",0.3330,"162,094,692","-57,745,397",0,0
1956,2025-06-03,Money Market,"20,439,208","552,210,848",0.2000,"110,442,170","12,934,603","90,002,962","12,934,603"
1957,2025-06-04,Money Market,"20,439,208","604,312,848",0.2000,"120,862,570","14,904,603","100,423,362","14,904,603"
1958,2025-06-05,Money Market,"20,439,208","600,470,848",0.2000,"120,094,170","38,554,603","99,654,962","38,554,603"
1959,2025-06-06,Money Market,"20,439,208","493,170,848",0.2000,"98,634,170","-57,745,397","78,194,962",0
1960,2025-06-07,Money Market,"20,439,208","493,170,848",0.2000,"98,634,170","-57,745,397","78,194,962",0
1961,2025-06-08,Money Market,"20,439,208","493,170,848",0.2000,"98,634,170","-57,745,397","78,194,962",0
1962,2025-06-09,Money Market,"20,439,208","486,770,848",0.2000,"97,354,170","-57,745,397","76,914,962",0
2445,2025-06-03,Mutual Fund,"19,308,412","552,210,848",0.2000,"110,442,170","12,934,603","91,133,758","12,934,603"
2446,2025-06-04,Mutual Fund,"19,308,412","604,312,848",0.2000,"120,862,570","14,904,603","101,554,158","14,904,603"
2447,2025-06-05,Mutual Fund,"19,308,412","600,470,848",0.2000,"120,094,170","38,554,603","100,785,758","38,554,603"
2448,2025-06-06,Mutual Fund,"19,308,412","493,170,848",0.2000,"98,634,170","-57,745,397","79,325,758",0
2449,2025-06-07,Mutual Fund,"19,308,412","493,170,848",0.2000,"98,634,170","-57,745,397","79,325,758",0
2450,2025-06-08,Mutual Fund,"19,308,412","493,170,848",0.2000,"98,634,170","-57,745,397","79,325,758",0
2451,2025-06-09,Mutual Fund,"19,308,412","486,770,848",0.2000,"97,354,170","-57,745,397","78,045,758",0
2934,2025-06-03,US Agencies,"110,436,661","552,210,848",0.2000,"110,442,170","12,934,603","5,508","5,508"
2935,2025-06-04,US Agencies,"117,576,661","604,312,848",0.2000,"120,862,570","14,904,603","3,285,908","3,285,908"
2936,2025-06-05,US Agencies,"116,576,661","600,470,848",0.2000,"120,094,170","38,554,603","3,517,508","3,517,508"
2937,2025-06-06,US Agencies,"109,576,661","493,170,848",0.2000,"98,634,170","-57,745,397",0,0
2938,2025-06-07,US Agencies,"109,576,661","493,170,848",0.2000,"98,634,170","-57,745,397",0,0
2939,2025-06-08,US Agencies,"109,576,661","493,170,848",0.2000,"98,634,170","-57,745,397",0,0
2940,2025-06-09,US Agencies,"108,576,661","486,770,848",0.2000,"97,354,170","-57,745,397",0,0
3423,2025-06-03,US Treasuries,"207,555,129","552,210,848",1.0000,"552,210,848","12,934,603","344,655,720","12,934,603"
3424,2025-06-04,US Treasuries,"243,555,129","604,312,848",1.0000,"604,312,848","14,904,603","360,757,720","14,904,603"
3425,2025-06-05,US Treasuries,"224,555,129","600,470,848",1.0000,"600,470,848","38,554,603","375,915,720","38,554,603"
3426,2025-06-06,US Treasuries,"224,555,129","493,170,848",1.0000,"493,170,848","-57,745,397","268,615,720",0
3427,2025-06-07,US Treasuries,"224,555,129","493,170,848",1.0000,"493,170,848","-57,745,397","268,615,720",0
3428,2025-06-08,US Treasuries,"224,555,129","493,170,848",1.0000,"493,170,848","-57,745,397","268,615,720",0
3429,2025-06-09,US Treasuries,"224,555,129","486,770,848",1.0000,"486,770,848","-57,745,397","262,215,719",0